<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.wxapi.model.mapper.GoodsSpecGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.project.wxapi.model.bean.GoodsSpecGroup">
        <id column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="goods_id" property="goodsId" />
        <result column="wxapp_id" property="wxappId" />
        <result column="type" property="type" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_name, goods_id, wxapp_id, type, gmt_create, gmt_modified
    </sql>
    <select id="selectByGoodsId" resultType="com.ruoyi.project.wxapi.model.bean.GoodsSpecGroup">
        select <include refid="Base_Column_List"></include>
        from kbsm_goods_spec_group
        where goods_id=#{goodsId}
    </select>

</mapper>
