.table-striped .table  .ellipsis{
    word-wrap:break-word;
    word-break:normal;
}

/*搜索框样式*/
.search-collapse ul li label{
    width:24%;
}

.select-list li input,.select-list li select{
    width:70%;
}

/*okr内容*/
@media ( min-width : 768px) {

     /*默认样式*/
    .bootstrap-tree-table .operation_thead,
    .bootstrap-tree-table .operation_tbody{
         width:120px;
    }

    /*默认加长样式*/
    .bootstrap-tree-table .operation-long{
        width:180px;
    }

    /*英文样式*/
    [lang]:lang(en_US)  .bootstrap-tree-table .operation_thead,
    [lang]:lang(en_US)  .bootstrap-tree-table .operation_tbody{
        width:130px;
    }
    [lang]:lang(en_US)  .bootstrap-tree-table .operation_tbody{
        text-align: right !important;
    }
    /*日文样式*/
    [lang]:lang(ja_JP)  .bootstrap-tree-table .operation_thead,
    [lang]:lang(ja_JP)  .bootstrap-tree-table .operation_tbody{
        width:130px;
    }



}

.bootstrap-tree-table .content_tbody h4,
.bootstrap-tree-table .content_tbody p{
    line-height: 24px;
    word-break: break-word;
    white-space: pre-wrap;
}

.bootstrap-tree-table .popover.left{
    margin-left: -20px;
}

.popover .popover-content a.btn,
.bootstrap-tree-table .operation_tbody .btn{
    margin-right: 2px;
}

.bootstrap-tree-table .fa {
    margin-right: 2px;
}

/*okr添加页面*/
.add-okr .panel-footer{
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.process-content #process{
    font-size: 1.4em;
    padding:0 6px;
    margin-left: 20px;
    user-select: none;
}

.process-data{
    display: inline-block;
    height: 20px;
    line-height: 24px;
    vertical-align: top;
}

.process-box,
.process-data,
.score-star-box,
.confidence-star-box{
    font-size: 10px;
}

.process-content{
    line-height: 2;
    font-size: 0;
}

.process-content #tiao{
    display: inline-block;
    width: 234px;
    height:  10px;
    margin-top: 7px;
    background: #ddd;
    border-radius: 3px;
    position: relative;
    font-size: 0;
}

.process-content #yuan{
    display: inline-block;
    line-height:  2;
    width:  10px;
    height: 10px;
    border-radius: 50% 50%;
    background: #177ad8;
    position: absolute;
    margin-top: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 3px #177ad8;
}

.process-content #jindu{
    line-height:  2;
    width: 0px;
    height: 10px;
    background-color: #177ad8;
    border-radius: 3px;
}


.process-content #processView{
    line-height: 20px;
    height:  10px;
    display: inline-block;
    vertical-align: top;
}

.caption span{
    font-size: 0.6em;
    font-weight: normal;
    color:#177ad8;
    margin-left: 20px;
    padding:2px 6px;
    user-select: none;
    height: 36px;
    line-height: 36px;
}


/*添加OKR*/
.add-okr .panel-content{
    margin-top: 5px;
}

.add-okr textarea{
    border: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 75px;
    height: 75px;
}

.add-okr .form-group{
    margin-bottom: 5px;
}

/*修改OKR*/

.table.table-no-bordered>thead>tr>th,
.table.table-no-bordered>tbody>tr>th,
.table.table-no-bordered>tfoot>tr>th,
.table.table-no-bordered>thead>tr>td,
.table.table-no-bordered>tbody>tr>td,
.table.table-no-bordered>tfoot>tr>td {
    border: 0px !important;
}

.objectContent{
    padding-top: 16px;
}

.synergyTitle{
    margin: 10px 10px 0;
}

#form-info-edit{
    border: 1px solid #e7eaec;
    margin-bottom: 60px;
}

.progress-box .pull-left{
    padding-left: 23px;
}

.kr-list{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.select-okr-users{
    height: 100%;
}

.select-okr-users  .select-search{
    height: 80px;
    overflow: hidden;
}

.select-okr-users  .search-box {
    margin-bottom: 10px;
    border: 0px solid #ddd;
}

.select-okr-users  .select-list{
    height: calc(100% - 80px) !important;
    overflow: hidden;
}

.select-okr-users .select-list .pull-left{
    margin:0 5px;
    box-sizing: border-box;
    width:92px;
    overflow: hidden;
}

.select-okr-users .select-list{
    margin:0 auto;
    align-content: center;
}

.select-okr-users  .select-list .col-sm-5{
    overflow: scroll;
    padding:0px !important;
    width: calc(50% - 51px) !important;
}

.select-okr-users .col-sm-5 .ibox{
    margin-bottom: 0px;
}

.select-okr-users .select-list>div {
    height: 100%;
    overflow: hidden;
}

.select-okr-users .operation-box {
    height: calc(100% - 10px);
    margin-bottom: 0px;
}

.select-okr-users .operation-box .ibox-content{
    height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: Center;
    position: relative;
    flex-direction:column;
}

.kr-progress-box{
    width: 100%;
    max-width: 100px;
    margin: 0px auto;
    position: relative;
}

.kr-progress-desc{
    position: absolute;
    bottom: -14px;
    color: #BBBBBB;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.kr-list .form-group .kr-content{
    line-height: 2;
    margin-top: 7px;
}

.kr-confidence .rating-xs,
.kr-score .rating-xs,
.kr-star .rating-xs{
    font-size: 1.4em;
}

.edit-key-result .process-box{
    padding-top: 7px;
}

.kr-key-num{
    position: absolute;
    top:0;
    left: 0;
    padding: 0px 4px;
    background-color: #1ab394;
    text-align: center;
    border-radius: 0 100% 100% 0;
}

.kResultContent  .progress-bar{
    background-color: rgba(26, 179, 148, 0.70);
    transition:width 0.2s ease;
}

.objectContent .ibox-title h5{
    max-width: calc(100% - 160px);
    line-height: 24px;
    padding: 0 30px;
}

.ibox-title h5{
    font-size: 14px;
}

.ibox-content .table>thead>tr>td .fa,
.ibox-content .table>thead>tr>th .fa{
    font-size: 16px;
}

.objectContent .ibox-title h5 i{
    margin-left: -18px;
}

.objectContent .ibox-title{
    overflow: hidden;
}

.objectContent .ibox-title .label{
   margin-top: 2px;
}

.kResultContent .label,
.edit-key-result .label{
    min-width: 35px;
    line-height: 20px;
    height: 20px;
    display: inline-block;
}

.sortable-list{
    padding: 10px 0 0 0;

}

.okrBox{
     width: 80%;
}

.synergyBox{
    width: 20%;
    position: relative;
}

#synergyTrees{
    overflow-x: auto;
}

.tip-box{
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 100;
}

.tip-box .tooltip-inner{
    width: 100px !important;//修改宽度
}

.col-sm-1.caption{
    padding: 7px 0 0;
}

.kr-score,
.kr-star{
    margin: 0;
    padding-top: 7px;
    margin-top: 0px !important;
}

.kr-key-pl0{
    padding-left:0px;
}

.kr-key-p0{
    padding:0px;
}

.form-horizontal .control-label{
    line-height: 2;
}

.accordion-body{
    padding: 10px 0px;
}

/*编辑器样式*/
.remarkContentBox{
    position:relative;
}

.remark-content-box{
    margin: 0px;
    padding: 10px 12px;
    border: 1px solid #e7eaec;
}

.kr-detail .kr-bootstrap-box>div{
    display: inline-block;
}

.kr-detail .kr-bootstrap-box .clear-rating{
    font-size: 0.6em;
    color: #aaa;
}
.kr-detail .kr-bootstrap-box .clear-rating:hover{
    color: #843534;
}

.kr-detail .kr-bootstrap-box{
    width:320px;
    margin:0px;
    padding:0px;
    user-select: none;
    line-height: 2;
}

.kr-detail .kr-bootstrap-box .progress {
    width: 200px;
    margin: 0 3.5px 0 11.5px;
    height: 10px;
    position: relative;
}

.ibox-content h4{
    margin-top: 7px;
}

/*评论框 start*/
.comment-box{
    padding-top: 14px;
    border-top: 1px #e5e5e5 solid;
    cursor: pointer;
    position: fixed;
    left: 15px;
    bottom: 0px;
    background-color: white;
    display: block;
    padding-right: 60px;
    width: 100%;

}

.comment-main{
    padding:5px
}

.comment-box .avatar-wrap{
    margin-top: 6px;
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    background: url("/img/user_default.png") no-repeat 50%;
    overflow: hidden;
}

.comment-box .avatar-wrap img {
    width: 100%;
    height: 100%;
}

.comment-box .comment-input{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    -webkit-flex: 1 1 0;
    width: 100%;
    height: 36px;
    background: #f3f3f3;
    border-radius: 3px;
    margin-left: -14px;
    padding: 1px 1px 1px 27px;
    border: none;
    outline: 0;
    font-size: 14px;
}

.comment-box .comment-open input,
.comment-box .comment-add-body
{
    display:none;
}

.comment-main .comment-open{
    border: 1px solid #22d7bb;
    -webkit-animation: animation-comment .2s ease;
    animation: animation-comment .2s ease;
    z-index: 100;
}

#facebox {
    margin-top: 4px;
    background: #fff;
    padding: 2px;
    border: 1px solid #ddd;
}

@-webkit-keyframes animation-comment {
    0% {
        height: 60px
    }

    100% {
        height: 114px
    }
}

@keyframes animation-comment {
    0% {
        height: 60px
    }

    100% {
        height: 114px
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.comment-main .form-control,
.comment-main .form-control:focus{
    border-color: rgba(0,0,0,0) !important;
}

.comment-box .comment-open .comment-add-body{
    display:block;
}

.comment-open .comment-add-body .comment-add-text{
    max-height: 145px;
}

.comment-add-text textarea{
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 70px;
    overflow-y: visible;
}

.comment-add-text .comment-add-text{
    padding: 0 13px 5px;
}

.attachment-list-wrap,
.attachments-ul{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fancybox{
    cursor: zoom-in;
}

.attachment-list-wrap .attachment-item .attachment-action{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    -webkit-flex: 1 1 0;
    padding-left: 10px;
    -webkit-transition: all .2s cubic-bezier(.4,.1,.5,1) .1s;
    transition: all .2s cubic-bezier(.4,.1,.5,1) .1s;
}

.attachment-list-wrap .attachment-item .attachment-action a {
    vertical-align: middle;
    font-size: 16px;
    margin-right: 5px;
    display: inline-block;
    line-height: 20px;
    color: #aaa;
}

.attachment-list-wrap .attachment-item .attachment-action a:hover{
    color:red;
}

.attachment-list-wrap .attachment-item .attachment-title{
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #888;
}

.attachment-list-wrap .attachment-item,
.attachment-li
{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    vertical-align: middle;
    line-height: 20px;
    color: #888;
    width: 50%;
    padding: 5px 8px;
    font-size: 12px;
}

.attachment-li{
    width: 222px;
}

.comment-add-body .comment-add-footer{
    border-radius: 0 0 3px 3px;
    border: none;
    padding: 5px 0;
}

.comment-open .comment-add-body .comment-add-footer{
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.comment-add-body .comment-add-footer .tool-bar {
    margin-left: 15px;
}

.d-flex{
    display: flex!important;
}

.align-items-center {
    align-items: center!important;
}

.flex-grow-1{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.comment-add-body .comment-add-footer .tool-bar li {
    float: left;
    list-style-type: none;
}

.comment-add-body .comment-add-footer .tool-bar li a {
    display: block;
    padding: 6px;
    border: 0;
    margin-right: 5px;
    position: relative;
}

.btn-group-sm>.btn,
.submit-box .btn-sm,
.layer-ext-moon .layui-layer-btn{
    text-align: center;
    padding: .157rem 15px !important;
    font-size: .875rem;
    line-height: 1.5715;
    min-width: 70px;
}

.layer-ext-moon .layui-layer-btn{
    background-color: #ffffff !important;
}


/*评论框 end*/


/*评论展示 start*/
.comment-list {
    margin: 22px 0px;
    border: 1px solid #dddddd;
    overflow: hidden;
}

.comment-list h4{
    padding: 18px 16px 10px;
}

.comment-list-box{
    padding: 6px 16px 20px;
}

.comment-list li {
    list-style: none;
}

.comment-item:last-child {
    border-bottom: none;
}

.comment-item {
    padding: 14px 0;
    border-bottom: 1px solid #f2f2f2;
}

.attachment-li .showImage,
.attachment-li .showFile
{
    text-align: center;
}

.comment-item .avatar {
    float: left;
    overflow: hidden;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: url("/img/user_default.png") no-repeat 50%;
}

.comment-item .avatar img {
    width: 100%;
    height: 100%;
}

.comment-item .comment-detail {
    margin-left: 42px;
}

.comment-item .comment-detail .user-info {
    margin-bottom: 8px;
    font-size: 14px;
}

.comment-item .comment-detail .content {
    font-size: 14px;
    line-height: 22px;
    color: #222;
}

.comment-item .comment-detail .reply {
    margin-top: 10px;
    font-size: 14px;
}

.load-more-comment button {
    margin-top: 10px;
    border: none;
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    color: #406599;
    background: #f4f5f6;
}

.comment-item .comment-detail .digg {
    float: right;
    line-height: 1;
    color: #777;
    cursor: pointer;
    position: relative;
    margin-right: 15px;
}

.comment-detail .digg .fa-thumbs-o-up{
    position: absolute;
    right: -15px;
}

.comment-detail .digg .fa-thumbs-o-up.add:nth-child(3){
    -webkit-animation-name: bubbles;
    animation-name: bubbles;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 2;
    color: #ffa8a8;
    opacity: 0;
    top: 0px;
    position: absolute;
}

.comment-detail .digg .fa-thumbs-o-up.add:nth-child(4){
    -webkit-animation-name: bubbles;
    animation-name: bubbles;
    animation-duration:  2s;
    animation-delay: 0.6s;
    animation-iteration-count: 2;
    color: #f74d4d;
    opacity: 0;
    top: 0px;
    position: absolute;
}

.comment-detail .digg .fa-thumbs-o-up.add:nth-child(5){
    -webkit-animation-name: bubbles;
    animation-name: bubbles;
    animation-duration:  2s;
    animation-delay: 1.2s;
    animation-iteration-count: 2;
    color: #ff0000;
    opacity: 0;
    top: 0px;
    position: absolute;
}

@keyframes bubbles {
    0% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }
}

.reply .reply-btn,
.reply .reply-num{
    color: #406599;
    cursor: pointer;
}

.comment-item .comment-detail .input-textarea {
    margin-top: 12px;
    margin-left: 0;
    position: relative;
    border: 1px solid #22d7bb;
    font-size: 14px;
}

.input-textarea textarea {
    padding: 10px 16px 0;
    width: 100%;
    height: 27px;
    font-size: 14px;
    line-height: 14px;
    resize: none;
    border: 0;
    outline: none;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.input-textarea.expense textarea {
    height: 100px;
}

.input-textarea .input-footer {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    background: #f4f5f6;
}

.input-textarea.expense .input-footer {
    position: static;
}

/*子集评论按钮*/
.input-textarea .submit-btn {
    border: none;
    width: 110px;
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    background: #22d7bb;
}

/*评论展示 end*/

