package ${basePackage}.domain;

import org.apache.commons.lang3.builder.ToStringBuilder;
import org.apache.commons.lang3.builder.ToStringStyle;
import java.io.Serializable;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
#foreach ($column in $columns)
    #if($column.attrType == 'Date')
    import java.util.Date;
        #break
    #end
#end

/**
 * ${functionName}表 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = false)
@Accessors(chain = true)
@TableName("${tableName}")
public class ${ClassName}  extends BaseEntity implements Serializable
        {
private static final long serialVersionUID = 1L;

#foreach ($column in $columns)
/** $column.columnComment */
private $column.javaType $column.javaField;
#end
}