<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd" default-autowire="byName">
	<!--<bean id="GmDataSource" class="org.apache.commons.dbcp.BasicDataSource"-->
		  <!--destroy-method="close">-->
		<!--<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>-->
		<!--<property name="url" value="jdbc:mysql://192.168.1.137:3306/ry"></property>-->
		<!--<property name="username" value="root"></property>-->
		<!--<property name="password" value="123456"></property>-->
		<!--<property name="initialSize" value="5" />-->
		<!--<property name="maxActive" value="15" />-->
		<!--<property name="maxIdle" value="10" />-->
		<!--<property name="minIdle" value="5" />-->
		<!--<property name="maxWait" value="3000" />-->
		<!--<property name="testWhileIdle" value="true" />-->
		<!--<property name="timeBetweenEvictionRunsMillis" value="27000" />-->
		<!--<property name="minEvictableIdleTimeMillis" value="28000" />-->
		<!--<property name="logAbandoned" value="true" />-->
		<!--<property name="removeAbandoned" value="true" />-->
		<!--<property name="removeAbandonedTimeout" value="600" />-->
		<!--<property name="validationQuery" value="SELECT NOW() FROM DUAL" />-->
	<!--</bean>-->
	<!--<bean id="gameSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
		<!--<property name="dataSource" ref="GmDataSource"/>-->
		<!--<property name="transactionFactory">-->
			<!--<bean class="org.apache.ibatis.transaction.managed.ManagedTransactionFactory" />-->
		<!--</property>-->
		<!--&lt;!&ndash;<property name="configLocation" value="/WEB-INF/sqlmap.xml"/>&ndash;&gt;-->
	<!--</bean>-->
	<!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
		<!--<property name="basePackage" value="com.ruoyi.system.mapper" />-->
		<!--<property name="sqlSessionFactoryBeanName" value="gameSqlSessionFactory"></property>-->
	<!--</bean>-->

</beans>