<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.user.mapper.UserRoleMapper">
	
	<resultMap type="com.ruoyi.project.system.user.domain.UserRole" id="UserRoleResult">
		<result property="userId"     column="user_id"      />
		<result property="roleId"     column="role_id"      />
	</resultMap>
	
	<select id="selectUserRoleByUserId" parameterType="long" resultMap="UserRoleResult">
		select user_id, role_id from sys_user_role where user_id = #{userId}
	</select>
	
	<delete id="deleteUserRoleByUserId" parameterType="long">
		delete from sys_user_role where user_id = #{userId}
	</delete>
	
	<select id="countUserRoleByRoleId" resultType="int">
		select count(1) from sys_user_role where role_id = #{roleId}
	</select>
	
	<delete id="deleteUserRole" parameterType="long">
		delete from sys_user_role where user_id in
		<foreach collection="array" item="userId" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>
	
	<insert id="batchUserRole" useGeneratedKeys="false">
		insert all
		<foreach item="item" index="index" collection="list">
			into sys_user_role(user_id, role_id) values (#{item.userId},#{item.roleId})
		</foreach>
		SELECT 1 FROM DUAL
	</insert>
	
	<delete id="deleteUserRoleInfo" parameterType="com.ruoyi.project.system.user.domain.UserRole">
		delete from sys_user_role where user_id=#{userId} and role_id=#{roleId}
	</delete>
	
	<delete id="deleteUserRoleInfos">
		delete from sys_user_role where role_id=#{roleId} and user_id in
		<foreach collection="userIds" item="userId" open="(" separator="," close=")">
			#{userId}
		</foreach>
	</delete>
</mapper>
