@charset "UTF-8";
/*-- 页面辅助文字 --*/
/*-- 页面辅助文字 --*/
/* -- 按钮 -- */
/*-- 文本截取，超出一行行加省略号 --*/
/*-- 文本截取，超出两行加省略号 --*/
/*-- 圆角 --*/
/*-- inline-block --*/
/*-- 透明度 --*/
/*-- 一级下拉菜单样式 --*/
/*-- 导航下拉菜单原始样式 --*/
/*-- 导航下拉菜单hover样式 --*/
/*-- new标记 --*/
/*-- 分隔符 --*/
/*-- 按钮通用 --*/
/*-- 卡片透明度 --*/
/*-- 小三角朝下投影效果 --*/
body{
    font-family:"PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}
div#login_container{
    height:270px;
}
.impowerBox .qrcode {width: 216px;border:1px solid transparent;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 210px;}
.status_icon {display:none;}
.impowerBox .status {text-align: center;margin-top: -10px; color: #bbbbbb;}
.impowerBox .icon38_msg{display: none;}


html,
body,
div,
span,
input,
button,
figure,
i,
h1,
h2,
h3,
h4,
h5,
h6,
em,
img,
strong,
sub,
sup,
tt,
dd,
dl,
dt,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
ul,
ol,
li,
p,
a {
    margin: 0;
    padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal; }

html,
body {
    height: 100%;
    background: #f4f4f4; }

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: 14px;
    border: 0;
    outline: none; }

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0; }

input::-webkit-input-safebox-button {
    display: none; }

body {
    font: 14px/1.5 "PingFang SC", "Lantinghei SC", "Microsoft YaHei", "HanHei SC", "Helvetica Neue", "Open Sans", Arial, "Hiragino Sans GB", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif; }

img {
    border: 0; }

ul li {
    list-style-type: none; }

a {
    text-decoration: none;
    color: inherit; }

a:hover {
    text-decoration: none; }

a[class|="btn"] {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }

i {
    font-style: normal; }

b {
    font-weight: normal; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #ffffff !important;
    background-image: none !important;
    color: #333 !important;
    -webkit-box-shadow: 0 0 0px 1000px #f4f4f4 inset; }

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset; }

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    background: #ffffff; }

.block {
    display: block; }

.left {
    float: left; }

.right {
    float: right; }

.clear {
    clear: both; }

.mt-10 {
    margin-top: 10px; }

div.mt-20,
a.mt-20 {
    margin-top: 20px; }

.mt-30 {
    margin-top: 30px; }

.pt-30 {
    padding-top: 30px; }

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }

.clearfix {
    zoom: 1; }

.text-center {
    text-align: center; }

.zcool-link-color {
    color: #d36f16;
    cursor: pointer; }

.btn-default-secondary {
    color: #666666;
    background: transparent;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; }

.btn-default-secondary:hover {
    color: #444444;
    background: transparent;
    border: 1px solid #999999; }

.btn-disabled {
    color: #bbbbbb;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    cursor: default; }

.disabled {
    color: #bbbbbb !important;
    cursor: default !important; }

.disabled-color {
    color: #bbbbbb !important;
    cursor: default !important; }

.btn-current-big {
    width: 320px;
    height: 42px;
    font-size: 16px; }

.btn-current-middle {
    width: 118px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    margin: 0 10px; }

.btn-small {
    width: 76px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.btn-default-loading {
    color: #444444;
    background: #ffe300;
    border: 1px solid #ffe300;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; }

.btn-current-null {
    min-width: 126px;
    height: 36px;
    padding: 0 19px;
    line-height: 36px; }

.mCSB_inside > .mCSB_container {
    margin: 0; }

.mCSB_scrollTools a + .mCSB_draggerContainer {
    margin: 6px 0; }

.alert-confirm,
.pop-up-confirm {
    padding: 0 0 83px; }

.alert-confirm .tips-text-normal,
.pop-up-confirm .tips-text-normal {
    position: absolute;
    top: 50%;
    margin-top: -12px; }

.alert-confirm .tips-text-normal .medium-text,
.pop-up-confirm .tips-text-normal .medium-text {
    font-size: 14px; }

.alert-confirm .tips-text-normal .large-text,
.pop-up-confirm .tips-text-normal .large-text {
    color: #444444; }

.alert-confirm .tips-text,
.pop-up-confirm .tips-text {
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #666666;
    padding: 56px 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.pop-up-normal {
    padding: 30px 0; }

.pop-up-normal .medium-text {
    font-size: 14px; }

.pop-up-normal .large-text {
    color: #444444; }

.pop-up-normal .tips-text {
    width: 100%;
    font-size: 16px;
    text-align: center;
    color: #666666;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.pop-up-normal,
.alert-confirm,
.pop-up-confirm {
    width: 300px;
    background: #ffffff;
    color: #444444;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -120px;
    display: block;
    vertical-align: middle;
    z-index: 13;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.pop-up-normal .pop-btn-con,
.alert-confirm .pop-btn-con,
.pop-up-confirm .pop-btn-con {
    position: absolute;
    bottom: 20px; }

.pop-up-normal .pop-confirm,
.pop-up-normal .pop-cancel,
.alert-confirm .pop-confirm,
.alert-confirm .pop-cancel,
.pop-up-confirm .pop-confirm,
.pop-up-confirm .pop-cancel {
    font-size: 14px; }

.pop-up-normal .pop-btn-con,
.pop-up-confirm .pop-btn-con {
    width: 100%; }

.alert-confirm .pop-btn-con {
    left: 50%;
    margin-left: -68px; }

.toast-success,
.toast-fail {
    padding: 30px;
    text-align: center;
    z-index: 14;
    width: 300px;
    min-height: 200px;
    background: #ffffff;
    color: #444444;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -120px;
    display: block;
    vertical-align: middle;
    z-index: 150;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.toast-success .toast-tips-text,
.toast-fail .toast-tips-text {
    font-size: 16px;
    margin-top: 14px; }

.toast-success .toast-socend-text,
.toast-fail .toast-socend-text {
    font-size: 14px; }

.toast-success .toast-pictrue {
    background-image: url(../images/success.png); }

.toast-fail .toast-pictrue {
    background-image: url(../images/fail.png); }

.toast-pictrue {
    width: 132px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

.checkbox-wrap label {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    cursor: pointer; }

.checkbox-wrap input[type="checkbox"] {
    opacity: 0;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer; }

.check-c {
    margin-right: 10px;
    background: url("../images/checkbox.svg") no-repeat 0 3px;
    background-size: 14px; }

.check-cd {
    margin-right: 10px;
    background: url("../images/checkboxed.svg") no-repeat 0 3px;
    background-size: 14px; }

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar.hoverscroll {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all linear 0.2s; }

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0.1); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.2); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.2); }

.text-style {
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    color: #666666;
    font-size: 14px;
    border: 1px solid #dddddd;
    background: #f4f4f4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }

.body-fixed,
.confirm-body-fixed {
    overflow: hidden; }

.cursor-default {
    cursor: default; }

.error-prompt {
    color: #f14538;
    font-size: 12px; }

.error-prompt .error-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    background: #f14538;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

.verify-code-form {
    width: 120px;
    height: 42px;
    color: #666666;
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }

.verify-code-form:hover {
    border: 1px solid #999999; }

.main-bg-color {
    background: #ffe300;
    color: #333333; }

.main-link-color {
    color: #d36f16; }

.hide {
    display: none; }

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    background: #ffffff;
    color: #444444; }

input[type="text"].borderred,
textarea.borderred {
    border: 1px solid #f4523b !important; }

.shade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12; }

.conutry-area-code-wrap {
    color: #444444;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 13;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }

.conutry-area-code-wrap {
    width: 334px;
    position: absolute;
    left: 0;
    top: 46px; }

.popup-title {
    padding: 20px 30px 20px;
    font-size: 14px;
    line-height: 14px;
    border-bottom: 1px solid #eeeeee; }

.pop-subtitle {
    margin-top: 25px;
    font-size: 14px; }

.login-close,
.pop-close,
.small-close {
    width: 15px;
    height: 15px;
    background: url(../images/guanbi.svg) no-repeat;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

.login-close:hover,
.pop-close:hover,
.small-close:hover {
    background: url(../images/guanbihover.svg) no-repeat; }

.login-close {
    position: absolute;
    top: 35px;
    right: 40px; }

.pop-close,
.small-close {
    position: absolute;
    right: 30px;
    top: 20px; }

.pop-confirm,
.pop-cancel {
    width: 120px;
    height: 36px;
    margin: 20px 8px 0; }