<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.smdd.czgl.mapper.KbsmTableMapper">
    
    <resultMap type="com.ruoyi.project.smdd.czgl.domain.KbsmTable" id="KbsmTableResult">
        <result property="id"    column="id"    />
        <result property="tableName"    column="table_name"    />
        <result property="people"    column="people"    />
        <result property="consume"    column="consume"    />
        <result property="warePrice"    column="ware_price"    />
        <result property="status"    column="status"    />
        <result property="sort"    column="sort"    />
        <result property="shopId"    column="shop_id"    />
        <result property="wxappId"    column="wxapp_id"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
    </resultMap>

    <sql id="selectKbsmTableVo">
        select id, table_name, people, consume, ware_price, status, sort, shop_id, wxapp_id, gmt_create, gmt_modified from kbsm_table
    </sql>

    <select id="selectKbsmTableList" parameterType="com.ruoyi.project.smdd.czgl.domain.KbsmTable" resultMap="KbsmTableResult">
        <include refid="selectKbsmTableVo"/>
        <where>  
            <if test="tableName != null  and tableName != ''"> and table_name like concat('%', #{tableName}, '%')</if>
            <if test="shopId != null "> and shop_id = #{shopId}</if>
        </where>
    </select>
    
    <select id="selectKbsmTableById" parameterType="Long" resultMap="KbsmTableResult">
        <include refid="selectKbsmTableVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertKbsmTable" parameterType="com.ruoyi.project.smdd.czgl.domain.KbsmTable" useGeneratedKeys="true" keyProperty="id">
        insert into kbsm_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">table_name,</if>
            <if test="people != null">people,</if>
            <if test="consume != null">consume,</if>
            <if test="warePrice != null">ware_price,</if>
            <if test="status != null">status,</if>
            <if test="sort != null">sort,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="wxappId != null">wxapp_id,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">#{tableName},</if>
            <if test="people != null">#{people},</if>
            <if test="consume != null">#{consume},</if>
            <if test="warePrice != null">#{warePrice},</if>
            <if test="status != null">#{status},</if>
            <if test="sort != null">#{sort},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="wxappId != null">#{wxappId},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="gmtModified != null">#{gmtModified},</if>
         </trim>
    </insert>

    <update id="updateKbsmTable" parameterType="com.ruoyi.project.smdd.czgl.domain.KbsmTable">
        update kbsm_table
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableName != null and tableName != ''">table_name = #{tableName},</if>
            <if test="people != null">people = #{people},</if>
            <if test="consume != null">consume = #{consume},</if>
            <if test="warePrice != null">ware_price = #{warePrice},</if>
            <if test="status != null">status = #{status},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="wxappId != null">wxapp_id = #{wxappId},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKbsmTableById" parameterType="Long">
        delete from kbsm_table where id = #{id}
    </delete>

    <delete id="deleteKbsmTableByIds" parameterType="String">
        delete from kbsm_table where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>